<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post list</title>
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Hi+Melody&display=swap" rel="stylesheet">
    <style>

        .box{
            width: 400px; height:auto;
            border: 1px solid lightgray;
            border-radius: 5px;
            display: inline-block;
            margin_left: 50px;
            margin_bottom:20px;
            text-align: center;
        }
        img{
            width:380px; height:380px;
            margin:auto; display:block
        }

        body{
            font-family: 'Hi Melody', cursive;

        }


    </style>
</head>
<body>

<div id="contant">
        <h1 id="title">Blog <span id="title_small">made with Django</span></h1>
    {% for post in object_list %}
    <div class="box">
        <p class="box_title">{{ post.title }}</p>
    <div class="image_box">
        <img src="{{ post.image.url }}">
        </div>
        <p class="description"><span class="label">Description:</span> {{ post.description }}</p>
        <p><span class="label">Create Date:</span> {{ post.create_date }}</p>
        <p><span class="label">Modify Date:</span> {{ post.modify_date }}</p>
    </div>
    {% endfor %}
</div>
</body>
</html>